<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse en FreeToGame</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup] = "formularioRegistration">
        <ion-item lines="full">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName = "nombre" type="text" ></ion-input>
        </ion-item>
      
        <ion-item lines="full">
          <ion-label position="floating">Apellidos</ion-label>
          <ion-input formControlName = "apellidos" type="text" ></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName = "email" type="text"></ion-input>
          <small class="text-danger" *ngIf="formularioRegistration.get('email').hasError('email')">Este campo debe ser un correo electronico</small>
        </ion-item>
    
        <ion-item lines="full">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName = "password" type="password" ></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input formControlName = "confirmpassword" type="password" ></ion-input>
        </ion-item>
    
        <ion-col>
          <ion-button (click)="register()" color="danger" expand="block">Registrarse</ion-button>
          <ion-button routerLink="/home" color="primary" expand="block">Cancelar</ion-button>
        </ion-col>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>